<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% include layout/meta %>
    <% include layout/style %>
    <style>
        p {
            margin: 10px;
        }
    </style>
  </head>
  <body>

    <p>
        本页面的io请求，是用了npm包：node-io-fetch实现的，请打开开发者工具控制台查看结果
    </p>

    <p>
        node-io-fetch主要实现了以下几点：
    </p>

    <p>
        1. 统一处理io接口业务逻辑，用户可根据项目需求自行配置；
        2. 针对fetch的调用，对用户透明；
    </p>

    <p>
        node-io-fetch浏览器兼容性如下：
    </p>

    <p>
        Chrome <br/>
        Firefox <br/>
        Safari 6.1+ <br/>
        Internet Explorer 10+ <br/>
    </p>
    
    <% include layout/js %>

    <script src="/javascripts/bundle/iofetch/index.js?v=1496300852103"></script>
  </body>
</html>
